logging:
  config: classpath:log4j2.xml

server:
  tomcat:
    uri-encoding: utf-8
  port: 80
  servlet:
    context-path: /
    
spring:
  application:
    name: rabbitmq
  rabbitmq:
    host: localhost
    port: 5672
    virtual-host: /
    username: guest
    password: guest
    listener:      simple:        concurrency: 16
        max-concurrency: 32
        prefetch: 16
        retry:          enabled: true