<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liyulin.demo.mybatis.plus.mapper.TestMapper">

    <select id="streamQuery" resultType="java.lang.Long" fetchSize="-2147483648">
        select f_id from t_test
    </select>

</mapper>